@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Orbitron&family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 180%;
}
body .rightSector {
  padding: 40px;
  width: 500px;
  height: 800px;
  background-color: #000;
  opacity: 0.5;
  border-radius: 40px;
  position: fixed;
  top: 50px;
  right: 50px;
  transition: 0.25s;
  border: 5px solid crimson;
}
body .rightSector:hover {
  opacity: 0.8;
  transition: 0.25s;
}
body .rightSector .oracleSector {
  z-index: 2;
  color: crimson;
  font-size: 30px;
  transition: 0.2s;
}
body .rightSector .oracleSector:hover {
  color: #fff;
  transition: 0.2s;
  border-bottom: 3px solid crimson;
}

.headerTop {
  width: 100%;
  height: 150px;
  background-color: #EBEAE7;
  padding: 25px;
}
.headerTop h1 {
  font-size: 35px;
  text-align: center;
  color: crimson;
  font-family: "poppins";
  letter-spacing: 10px;
}
.headerTop .logo {
  margin: 0 auto;
  width: 200px;
  height: 100px;
  background-image: url(./img/oracleLogo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerTop #weather {
  position: absolute;
  top: 40px;
  left: 30px;
  font: bold 18px/1.5 "poppins";
  letter-spacing: 1.5px;
  border-bottom: 3px solid crimson;
  padding-bottom: 5px;
  color: #3A3632;
}

.headerBot {
  width: 100%;
  height: 80px;
  background-color: #3A3632;
  padding: 0px 30px 0px 30px;
}
.headerBot a {
  color: #fff;
  font: bold 20px/80px "poppins";
  transition: 0.2s;
  margin-right: 40px;
}
.headerBot a:hover {
  color: crimson;
  transition: 0.2s;
}

section {
  padding: 30px;
  background-color: #EBEAE7;
}

.tag1 h1 {
  color: #161513;
  font-family: "orbitron";
  margin-bottom: 30px;
  letter-spacing: 3px;
}

.tag2 {
  background-color: #fff;
  letter-spacing: 1px;
  padding: 15px;
  width: 60%;
  border: 1px solid #fff;
  margin-bottom: 30px;
}
.tag2 h2 {
  font-family: "poppins";
  font-weight: bold;
}
.tag2 .stSt {
  font-size: 25px;
  font-weight: normal;
}
.tag2 .redline {
  color: crimson;
}
.tag2 table {
  text-align: center;
}
.tag2 table th {
  width: 40%;
  height: 80px;
  background-color: #3A3632;
  color: #fff;
}
.tag2 table td {
  height: 50px;
  border: 1px solid #000;
}
.tag2 .groupbyChart {
  width: 600px;
  height: 390px;
  background-image: url(./img/groupBy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #3A3632;
  padding: 15px 0px 15px 0px;
}
footer h1 {
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  letter-spacing: 1px;
  color: crimson;
}
footer .footerLogo {
  margin: 0 auto;
  width: 220px;
  height: 50px;
  background-image: url(./img/oracle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  body .rightSector {
    display: none;
  }
  body section .tag2 {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  body section .tag2 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */